.page1 {
    width: 50%;
    margin-inline-end: 7rem;
    position: relative;
}

.page1 > h1 {
    color: hsl(213, 96%, 18%);
    margin-top: 1rem;
    font-weight: bolder;
    margin-bottom: 4px;
}

.page1 > p {
    font-size: 1rem;
    font-weight: bold;
    color: gray;
}

.page1 .form-input {
    margin-block: 2rem;
    display: flex;
    flex-direction: column;
}

.page1 .form-input label {
    font-weight: bold;
    margin-bottom: 12px;
}

.page1 .form-input input {
    margin-bottom: 1.4rem;
    height: 43px;
    width: 100%;
    border-radius: 7px;
    outline: none;
    padding-inline: 1rem;
    font-size: 1rem;
    border: 2px solid rgba(1, 1, 122, 0.322);
    transition: all ease .5s;
}

.page1 .form-input input:active,
.page1 .form-input input:focus {
    border: 2px solid rgb(1, 1, 122);
}

.page1 button {
    position: absolute;
    right: 0;
    bottom: 1rem;
    background-color: rgb(1, 1, 122);
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border: 1px solid rgb(1, 1, 122);
    outline: none;
    border-radius: 7px;
    padding: .75rem 1.3rem;
    transition: all ease-in-out .6s;
    cursor: pointer;
}

.page1 button:hover {
    background-color: #fff;
    color: rgb(1, 1, 122);
    border: 1px solid rgb(1, 1, 122);
}